/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
*-lock*
*.lock*
.idea
.DS_Store
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
/vendor/
/.idea
*.log
/public/sitemap.xml
/public/sitemap.html
/node_modules/
node_modules/
